<div class="meu-sticky" *ngIf="this.showTips">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <app-translator key="label_tips_0_title"></app-translator>
    </h5>
    <h6 class="card-subtitle">
      <app-translator key="label_tips_0_subject"></app-translator>
    </h6>
    <a href="https://github.com/brutalzinn/front-mock-string-placeholder" target=”_blank” class="card-link">
    <span style="font-size:15px;color:red;">&hearts;</span>
    <app-translator key="btn_tips_0_ok"></app-translator>
    <span style="font-size:15px;color:red;">&hearts;</span>
    </a>
    <a (click)="this.hide()" class="card-link">
      <app-translator key="btn_tips_0_close"></app-translator>
    </a>
  </div>
</div>
</div>
