
<form [formGroup]="this.form">
<div class="container">
  <div class="row">
    <div class="col">
        <div class="form-group">
        <label for="exampleFormControlTextarea1">
            <app-translator key="label_original_text"></app-translator>
        </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="texto" rows="10"></textarea>
        </div>
    </div>
  </div>

      <div class="row justify-content-sm-end">
          <div class="col col-lg-auto">
            <button type="button" class="btn btn-primary" (click)="this.save()">
                  <app-translator key="btn_text_save"></app-translator>
              </button>
            <button type="button" class="btn btn-primary" (click)="this.processText()">
              <app-translator key="btn_process"></app-translator>
            </button>
          </div>
      </div>
    <div *ngIf="!this.processado" class="alert alert-danger">
        <app-translator key="label_processing_text"></app-translator>
    </div>

  <div class="row" >
    <div class="col">
        <div class="form-group">
        <label for="exampleFormControlTextarea1">
        <app-translator key="label_processed_text"></app-translator>
        </label>
        <textarea class="form-control"  id="exampleFormControlTextarea1" formControlName="texto" rows="10" [value]="this.textoProcessado"></textarea>
        </div>
    </div>
      <div class="row justify-content-sm-end">
          <div class="col col-lg-auto">
            <button type="button" class="btn btn-primary" (click)="this.copyTextProcessed()">
            <app-translator key="btn_text_copy"></app-translator>
            </button>
          </div>
      </div>
  </div>
</div>

</form>



