
<div class="footer">
<div class="container">
  <div class="row">
    <div class="col"><span>
    <app-translator key="label_credits"></app-translator>
    </span></div>
  </div>
  <div class="row">
    <div class="col"><span style="font-size:15px;color:red;">&hearts;</span></div>
  </div>
    <div class="row">
      <div class="col"><span style="font-size:15px;"></span></div>
    </div>
     <div class="row">
      <div class="col"><span style="font-size:15px;">By</span></div>
    </div>
  <div class="row">
    <div class="col"><a href="https://github.com/brutalzinn" target="_blank">Roberto Paes</a></div>
  </div>
    <div class="row">
      <div class="col">
        <a href="https://github.com/brutalzinn/front-mock-gerador-de-dados" target="_blank">Acessar
          repositório</a>
      </div>
    </div>
</div>
</div>
