<div *ngFor="let tab of this.tabs; let tabIndex = index" [hidden]="!this.tab.visivel">
  <button type="button" (click)="this.excludeTab(tabIndex)" class="btn btn-danger">
    <app-translator key="btn_text_remove_tab"></app-translator>
  </button>
  <button type="button" (click)="this.showFormToRename()" class="btn btn-danger">
    <app-translator key="label_rename_text"></app-translator>
  </button>
  <button type="button" (click)="this.showFormAdvanced()" class="btn btn-danger">
    Avançado
  </button>

<div class="col" *ngIf="this.formAdvanced">
    <div *ngFor="let customVar of tab.custom; let customVarIndex = index">
      <div class="input-group mb-3">
        <span class="input-group-text">
          {{customVar.key}}
        </span>
        <input class="form-control" placeholder="VAR {{customVarIndex}}" type="text" value="{{customVar.value}}" />
        <button type="button" class="btn btn-primary" (click)="this.removeCustomVar(customVarIndex)">
          Remove var
        </button>
      </div>
    </div>
    <div class="col" *ngIf="this.formAdvanced">
      <button type="button" class="btn btn-primary" (click)="this.addCustomVar(tabIndex)">
        Add var
      </button>
      <button type="button" class="btn btn-primary" (click)="this.saveCustomVar(tabIndex)">
        <app-translator key="btn_text_save"></app-translator>
      </button>
    </div>
</div>
<form [formGroup]="this.form" *ngIf="this.formToRename" [hidden]="!this.tab.visivel" >
  <div class="col">
  <div class="input-group mb-3">
    <span class="input-group-text">
    <app-translator key="btn_text_new_name"></app-translator>
    </span>
      <input class="form-control" type="text" formControlName="nameTab" />
  </div>
  <button type="button" class="btn btn-primary" (click)="this.saveNewName(tabIndex)">
    <app-translator key="btn_text_save"></app-translator>
    </button>
  </div>
</form>


<app-tab-page [currentTab]="this.tab" [hidden]="!this.tab.visivel"></app-tab-page>
</div>
