
  <form [formGroup]="this.form">
  <div class="col">
  <div class="input-group mb-3">
    <span class="input-group-text">Nome:</span>
      <input class="form-control" placeholder="Nome tab" type="text" formControlName="nameTab" />
      <button type="button" class="btn btn-primary" (click)="this.adicionarTab(this.nameTab)">Nova aba</button>
  </div>
  </div>
<div class="col">
  <div lass="input-group mb-3">
        <app-tab-menu [tabs]="this.tabs"></app-tab-menu>
  </div>
</div>
<div class="col">
    <div class="input-group mb-3">
        <div *ngFor="let tab of this.tabs; let i = index">
               <button type="button" (click)="this.exibirTab(i)" class="btn btn-primary">{{this.tab.name}}</button>
        </div>
    </div>
</div>
</form>
<div *ngFor="let tab of this.tabs; let i = index">
      <button type="button" (click)="this.excluirTab(i)" [hidden]="!this.tab.visivel" class="btn btn-danger">Excluir</button>
      <app-tab-page [currentTab]="this.tab" [hidden]="!this.tab.visivel"></app-tab-page>
</div>
