<form [formGroup]="this.form">
  <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text">Nome:</span>
      <input class="form-control" placeholder="Nome tab" type="text" formControlName="nameTab" />
      <button type="button" class="btn btn-primary" (click)="this.addTab(this.nameTab)">
        <app-translator key="btn_text_new_tab"></app-translator>
      </button>
    </div>
  </div>
</form>
  <div class="col">
    <div class="input-group mb-3">
      <div *ngFor="let tab of this.tabs; let i = index">
        <button type="button" (click)="this.showTab(i)" [ngClass]="this.tabs[i].visivel ? 'btn btn-primary active' : 'btn btn-primary'">{{this.tab.name}}</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div lass="input-group mb-3">
      <app-tab-menu [tabs]="this.tabs"></app-tab-menu>
    </div>
  </div>
